<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futebol da Galera</title>

    <link rel="stylesheet" href="../css/index.css">

</head>
<body>
    <div id="root">
        <aside>
            
            <span id="#pfpgrupo"></span>

            <p id="titulo">pelada da galera</p>

            <section>

                <button class="btnaside">ultimas partidas</button>

                <button class="btnaside">estatisticas</button>

                <button class="btnaside">seus jogadores</button>

                <a href="./times.html"><button class="btnaside">equipes</button></a>

                <button class="btnaside">configurações</button>
                


            </section>
        </aside>

        <div id="resultados">
            <h1 id="partida">ULTIMAS PARTIDAS</h1>

    <div id="blocos">

        
        <div id="jogo1">
            <img src="." alt="" id="time1"> 9 - 7 <img src="#" alt="" id="time2">
        </div>
        
        <div id="jogo2">
            <img src="#" alt="" id="time1"> 9 - 7 <img src="#" alt="" id="time2">
        </div>
        
        <div id="jogo3">
            <img src="#" alt="" id="time1"> 9 - 7 <img src="#" alt="" id="time2">
        </div>
       
        <div id="jogo4">
            <img src="#" alt="" id="time1"> 9 - 7 <img src="#" alt="" id="time2">
        </div>
        
        <div id="jogo5">
            <img src="#" alt="" id="time1"> 9 - 7 <img src="#" alt="" id="time2">
        </div>
       
        <div id="jogo6">
            <img src="#" alt="" id="time1"> 9 - 7 <img src="#" alt="" id="time2">
        </div>
    </div>

        </div>

    </div>
</body>
</html>