<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futebol da Galera</title>

    <link rel="stylesheet" href="../css/inicio.css">

</head>
<body>
    <div id="root">
        <aside>
            
            <span id="#pfpgrupo"></span>

            <p id="titulo">Marcos Braz</p>

            <section>

                <button class="btnaside">configurações</button>

                <button class="btnasidesair">sair</button>

            </section>
        </aside>

        <main>

            <p id="titulopag">SEUS GRUPOS</p>
    
                <article>
    
                    <button id="addtime">+</button>
    
                </article>
    
        </main>

        

<script src="../script/times.js"></script>
</body>
</html> 