<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futebol da Galera</title>

    <link rel="stylesheet" href="../css/times.css">

</head>
<body>
    <div id="root">
        <aside>
            
            <span id="#pfpgrupo"></span>

            <p id="titulo">pelada da galera</p>

            <section>

               <a href="../html/index.html"><button class="btnaside">ultimas partidas</button></a>

                <button class="btnaside">estatisticas</button>

                <button class="btnaside">seus jogadores</button>

                <button class="btnaside">equipes</button>

                <button class="btnaside">configurações</button>


            </section>
        </aside>

        <main>

            <p id="titulopag">SEUS TIMES</p>

                <article>

                    <button id="addtime">+</button>

                </article>

        </main>

        <dialog>
            
            <p>ADICIONAR TIME</p>

            <section>
                <form>

                    <input id="pfp" type="file" name="imagem" accept="image/png, image/jpeg">
                    <input type="text" placeholder="NOME DO TIME">
                    <input type="submit" value="Enviar" id="enviar">

                </form>
            </section>

        </dialog>

    </div>

<script src="../script/times.js"></script>
</body>
</html> 