<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/noticias.css">
    <title>Caneta Futebol - Notícias</title>
</head>
<body>
    <div class="desktop">
        <div class="Noticias">NOTICIAS</div>
       <a href="./placar.html"> <div class="Placar" >PLACAR</div></a>
       <a href="./gerador.html"> <div class="GeradorDeTimes">GERADOR DE TIMES</div></a>
        <div class="Sobre" >SOBRE</div>
       <a href="../index.html"><img class="Ellipse1" src="../images/logotipo.png"/></a>

        <main>

        <h1 class="Titulo">Libertadores: Palmeiras 0 x 0 Boca Juniors</h1>
        <iframe  class ="noticia1" width="560" height="315" src="https://www.youtube.com/embed/c1ywDEWz0hA?si=dkyIKa4ec5BYlaDl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p class="texto1"> Tudo igual na Bombonera! 
            BocavJuniors e Palmeiras empataram sem gols no primeiro jogo da Semifinal da CONMEBOL Libertadores!
            
              A definição do finalista será na próxima quinta-feira, em São Paulo!</p>


              <h1 class="Titulo2">Libertadores: Fluminense 2 x 2 Internacional</h1>>
                <iframe class="noticia1" width="560" height="315" src="https://www.youtube.com/embed/VAb8KVHNies?si=tOBPbm5_-SPPVvjD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
                <p class="texto1">EMPATE NO MARACA! Em um jogaço, fluminense e inter ficam no 2 a 2 na primeira partida da semifinal da CONMEBOL Libertadores. Confira os melhores momentos da partida! </p>
           </main> </div>
</body>
</html>